{% extends "base.html" %}

{% block analytics %}
    <div style="margin-left: 50%; transform: translateX(-50%)">
        <h3>Most liked article:</h3>
        <p>id: {{ most_liked_article.id }}</p>
        <p>Title: {{ most_liked_article.title }}</p>
    </div>
    <div style="margin-left: 50%; transform: translateX(-50%)">
        <h3>Most commented article:</h3>
        <p>id: {{ most_commented_article.id }}</p>
        <p>Title: {{ most_commented_article.title }}</p>
    </div>
    <div style="margin-left: 50%; transform: translateX(-50%)">
        <h3>Most commenting user:</h3>
        <p>id: {{ most_commenting_user.id }}</p>
        <p>Full name: {{ most_commenting_user.first_name }} {{ most_commenting_user.last_name }}</p>
    </div>
{% endblock %}