{% extends "base.html" %}
{% load static %}

{% block index_content %}
<div class="article_list">
    {% for article in article_list %}
        <hr>
        <div class="article">
            <h2>{{ article.title }}</h2>
            <p class="article_text">
                {{ article.article_text }}
            </p>
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="some image"/>
            {% endif %}
            <i>
            Author: {{ article.author.first_name }} {{ article.author.last_name }}<br>
            Published: {{ article.created_on }}
            </i>
        </div>
    {% endfor %}
</div>
{% endblock %}