{% extends "base.html" %}

{% block index_content %}
<div class="pagination">
    <nav class="nav">
        {% if page_obj.has_previous %}
            <a class="nav-link" href="?page=1">First</a>
            <a class="nav-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="nav-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="nav-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </nav>
</div>

<div class="article_list">
    {% for article in page_obj %}
        <hr>
        <div class="article">
            <h2>{{ article.title }}</h2>
            <p class="article_text">
                {{ article.text }}
            </p>
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="some image"/>
            {% endif %}
            <br>
            <div class="info">
                Likes: {{ article.num_likes }}<br>
                Views: {{ article.views }}<br>
                Author: {{ article.author.first_name }} {{ article.author.last_name }}<br>
                Published: {{ article.created_at }}<br>
                Last modified: {{ article.last_modified }}<br>
                {% for category in article.categories.all %}
                    {{ category }};
                {% empty %}
                    No categories provided.
                {% endfor %}
            </div>
            <div class="comment_list">
                <p>Comments:</p>
                {% for comment in article.comments.all %}
                    {{ comment.author.first_name }} {{ comment.author.last_name }} wrote:
                    <div class="comment">
                        {{ comment.text }} <br>
                        <i>Likes: {{ comment.likes }}</i>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}