{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'base_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins"/>
    <title>News</title>
</head>
<body>
<header>
    {% if user.is_authenticated %}
        <p>You are logged as {{ user.email }}</p> <br>
        <a href="{% url 'news:index'%}">All news</a> <br>
        <a href="{% url 'news:user_articles'%}">My news</a> <br>
        <a href="{% url 'news:create_article'%}">Create news</a> <br>
        <a href="{% url 'my_auth:logout' %}">Logout</a>
    {% endif %}
</header>

{% block index_content %}
{% endblock %}

{% block login %}
{% endblock %}

{% block register %}
{% endblock %}

{% block create %}
{% endblock %}

{% block user_news %}
{% endblock %}

{% block edit %}
{% endblock %}

</body>
</html>
