{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins"/>
    <link rel="stylesheet" href="{% static 'base_styles.css' %}">
    <title>News</title>
</head>
<body>
<header>
    {% if user.is_authenticated %}
    <p>You are logged as {{ user.email }}</p>
    <nav class="nav">
        <a class="nav-link" href="{% url 'news:index'%}">All news</a>
        <a class="nav-link" href="{% url 'news:user_articles'%}">My news</a>
        <a class="nav-link" href="{% url 'news:create_article'%}">Create news</a>
        <a class="nav-link" href="{% url 'my_auth:logout' %}">Logout</a>
    </nav>
    <form action="{% url 'news:search_articles' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
    {% endif %}
</header>

{% block index_content %}
{% endblock %}

{% block login %}
{% endblock %}

{% block register %}
{% endblock %}

{% block create %}
{% endblock %}

{% block user_news %}
{% endblock %}

{% block edit %}
{% endblock %}

{% block search_results %}
{% endblock %}

</body>
</html>
