{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins"/>
    <title>News</title>
</head>
<body>
<header>
    <h1>LATEST NEWS</h1>
</header>

<div class="article_list">
    {% for article in article_list %}
        <hr>
        <div class="article">
            <a href="{% url 'news:detail' article.id %}"><h2>{{ article.title }}</h2></a>
            <small>
            Author: {{ article.author }}<br>
            Published: {{ article.created_on }}
            </small>
        </div>
    {% endfor %}
</div>
</body>
</html>
